body {
    font-family: Arial, sans-serif;
    color: red;
}

.container {

    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    color: rgb(78, 99, 255);
}

h1 {
    text-align: center;
    color: goldenrod;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}